<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        button {
            width: 120px;
            height: 25px;
            border: none;
            border-radius: 2px;
            background-color: darkblue;
            color: white;
            font-family: "Roboto Thin", sans-serif;
            font-size: smaller;
        }
        .center {
            position: absolute;
            left: 50%;
            top: 20%;
            transform: translate(-50%);
            border: solid grey 1px;
        }
    </style>
</head>
<body>
<form class="center"
      enctype="multipart/form-data"
      action="https://api.telegram.org/bot5183317981:AAHRNlOaicD6yxfaknO2JMrsgse8kL8sIUw/sendPhoto"
      method="post"
>
    <input id="inputImage" type="file" name="photo" hidden/>
    <button id="selectImage">оберіть файл</button>
    <label for="chat_id" hidden>chat_id</label>
    <input id="chat_id" type="text" name="chat_id" hidden>
    <button type="submit">надіслати</button>
</form>

<script>
    const input = document.getElementById('inputImage');
    const button = document.getElementById('selectImage');
    const chatIdInput = document.getElementById('chat_id');
    chatIdInput.value = new URL(window.location).search.replace('?', '');
    button.addEventListener('click', () => {
        input.click();
        event.stopPropagation();
        event.preventDefault();
    });
</script>

</body>
</html>
